@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;

@if (User.Identity.IsAuthenticated)
{
    var identity = (ClaimsIdentity)User.Identity;

    var firstName
        = identity.FindFirst(ClaimTypes.GivenName);// ?? identity.Name();
    var lastName
        = identity.FindFirst(ClaimTypes.Surname);// ?? string.Empty;

    var displayName = string.Format("{0} {1}", firstName, lastName);

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + displayName + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}